.contact-view {
    width: 100%;
    display: flex;
    &__wrapper {
        padding: 25px;
        display: flex;
        flex-direction: column;
    }
}

.display-fw {
    width: 100%;
}

.display-hw {
    width: calc(100% - 275px)
}

.list__table {
    table {
        width: 100%;
    }
    tr {
        height: 45px;
        width: 100%;
        justify-content: space-around;
        display: flex;
        align-items: center;
    }
    tr:hover {
        background-color: #efefef
    }
}