.contact-view {
    padding: 25px;
    width: 100%;
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
}

.list__table {
    table {
        width: 100%;
    }
    tr {
        height: 45px;
        width: 100%;
        justify-content: space-around;
        display: flex;
        align-items: center;
    }
    tr:hover {
        background-color: #efefef
    }
}