.contact-view {
    border-left: 2px solid #F7F7F7;
    height: 100vh;
    &__wrapper {
        padding: 25px;
        display: flex;
        flex-direction: column;
        h3 {
            font-weight: 500
        }
        @media screen and (max-width: 768px) {
            padding: 10px;
        }
    }
}

.display-fw {
    width: 100%;
    @media screen and (max-width: 414px) {
        width: 45%;
        margin-left: auto;
    }
}

.display-hw {
    width: calc(100% - 25%);
    margin-left: auto;
    @media screen and (max-width: 768px) and (min-width: 415px) {
        width: 60%;
    }
    @media screen and (max-width: 414px) {
        width: 100%;
    }
}

.list__table {
    table {
        width: 100%;
    }
    tr {
        height: 45px;
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;
        @media screen and (max-width: 768px) {
            justify-content: space-between
        }
    }
    tr:hover {
        background-color: #efefef
    }
    td {
        height: 100%;
        display: flex;
        align-items: center;
    }
    &-td-icon {
        width: 5%;
    }
    &-td-icon-group {
        display: flex;
        @media screen and (max-width: 414px) {
            display: none;
        }
    }
    &-td-image {
        width: 4%;
        margin-right: 25px;
        img {
            width: 100%;
            border-radius: 100%;
        }
    }
    &-td-name {
        width: 25%;
        >span:nth-child(1) {
            margin-right: 8px;
        }
        @media screen and (max-width: 414px) {
            margin-right: 20px;
        }
    }
    &-td-email {
        width: 25%;
        @media screen and (max-width: 768px) {
            display: none !important;
        }
    }
    &-td-phone {
        width: 25%;
    }
    tr .contact-select i {
        @media screen and (max-width: 414px) {
            display: none !important;
        }
    }
    tr .list__table-td-icon-group i,
    tr .contact-select i {
        opacity: 0;
        margin-left: 16px;
    }
    tr:hover .list__table-td-icon-group i,
    tr:hover .contact-select i {
        opacity: 0.6;
        cursor: pointer;
        @media screen and (max-width: 414px) {
            opacity: 0 !important;
        }
    }
}

.main-contact-icon:hover,
.star-orange {
    color: #FF0046;
}

.add-new-contact-icon {
    height: 50px;
    width: 50px;
    background-color: #FF0046;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff
}

.intro-text {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.row-active {
    background-color: #efefef;
    i {
        opacity: 0.6;
        cursor: pointer;
    }
}