.nav {
    &__wrapper {
        height: 65px;
        width: 100%;
        padding: 0 3%;
        background-color: #5700A0;
        color: #fff;
        display: flex;
        align-items: center;
        &-left-item {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 25px;
            >span {
                cursor: pointer;
            }
        }
        &-right-item {
            width: 65%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            input {
                width: 80%;
                background-color: #7019AF;
                height: 40px;
                border: 0;
            }
            input:focus {
                border: 0;
                outline: 0;
                outline-offset: 0;
            }
            &--image {
                height: 25px;
                width: 25px;
                img {
                    border-radius: 50%;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}